.fields {
    display: grid;
    margin-bottom: 15px;
    grid-template-columns: auto auto 1fr;
    row-gap: 10px;
}

label {
    margin: auto 20px auto 0;
}

.validator-container {
    margin: auto 10px;
}

.button-row {
    display: flex;
}
