@page "/"
@page "/employees"

<PageTitle>Employees</PageTitle>

<div class="title-row">
    <h2 class="title">Employees</h2>
    @if (DidLoad)
    {
    <RadzenTextBox Placeholder="Search" @oninput="@(args => SearchText = args.Value.ToString())" />
    }
</div>

@if (IsLoading)
{
<Spinner />
}
else if (DidFailLoading)
{
<div class="error">Couldn't load employees.</div>
}
else
{
<RadzenButton Click="@AddEmployee">Add employee</RadzenButton>

<RadzenDataGrid TItem="Employee" Data="@FilteredEmployeesList" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn Title="Last Name" TItem="Employee" Property="LastName" />
        <RadzenDataGridColumn Title="First Name" TItem="Employee" Property="FirstName" />
        <RadzenDataGridColumn Title="Title" TItem="Employee" Property="Title" />
    </Columns>
</RadzenDataGrid>
}
