@page "/"

<PageTitle>Employees</PageTitle>

<div class="title-row">
    <h2 class="title">Employees</h2>
    @if (!IsLoading)
    {
    <RadzenTextBox Placeholder="Search" @oninput="@(args => SearchText = args.Value.ToString())" />
    }
</div>

@if (IsLoading)
{
<Spinner />
}
else if (LoadErrorText != null)
{
<div class="error">Error loading employees: @LoadErrorText</div>
}
else
{
<RadzenDataGrid TItem="Employee" Data="@FilteredEmployeesList" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn Title="Last Name" TItem="Employee" Property="LastName" />
        <RadzenDataGridColumn Title="First Name" TItem="Employee" Property="FirstName" />
        <RadzenDataGridColumn Title="Title" TItem="Employee" Property="Title" />
    </Columns>
</RadzenDataGrid>
}
