@page "/"
@page "/employees"

<PageTitle>Employees</PageTitle>

<div class="title-row">
    <h2 class="title">Employees</h2>
    @if (DidLoad)
    {
    <RadzenTextBox Placeholder="Search" @oninput="@(args => SearchText = args.Value.ToString())" />
    }
</div>

@if (IsLoading)
{
<Spinner />
}
else if (DidFailLoading)
{
<div class="error">Couldn't load employees.</div>
}

@if (DidLoad)
{
<div class="add-button-container">
    <RadzenButton Click="@AddEmployee">Add employee</RadzenButton>
</div>

<RadzenDataGrid TItem="Employee" Data="@FilteredEmployeesList" AllowSorting="true">
    <Columns>
        <RadzenDataGridColumn TItem="Employee" Title="Last Name" Property="LastName" />
        <RadzenDataGridColumn TItem="Employee" Title="First Name" Property="FirstName" />
        <RadzenDataGridColumn TItem="Employee" Title="Title" Property="Title" />
        <RadzenDataGridColumn TItem="Employee" Sortable="false" Width="150px">
            <Template Context="employee">
                <div class="column-container">
                    <a class="column-content" href="javascript:void(0);" @onclick=@(() => EditEmployee(employee))>Edit</a>
                </div>
            </Template>
        </RadzenDataGridColumn>
        <RadzenDataGridColumn TItem="Employee" Sortable="false" Width="150px">
            <Template Context="employee">
                <div class="column-container">
                    @if (employee == EmployeeBeingDeleted)
                    {
                        <Spinner IsInline="true" CssClass="column-content" />
                    }
                    else
                    {
                        <a class="column-content" href="javascript:void(0);" @onclick=@(() => DeleteEmployee(employee))>Delete</a>
                    }
                </div>
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>
}
