<div class=@($"spinner{(IsInline ? " inline-spinner" : "")} {CssClass}")>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>
