<div class=@("spinner" + (IsInline ? " inline-spinner" : ""))>
    <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
</div>
