@inherits LayoutComponentBase

<div class="page">
    <header>
        <h1>Northwind Manager</h1>
    </header>
    <main class="content">
        @Body
    </main>
</div>

<RadzenNotification Style="top: 20px" />
<RadzenDialog />
